.container{
    background-repeat: no-repeat;
    background-image: url(images/autumn-sale-background-with-percent-symbol-balloon-maple-leaves-gift-box_257995-722.avif);
    height: 300px;
    padding: 120px;
    color: blue;
    
}